In [1]:
import pandas as pd
import numpy as np
import torch
import matplotlib.pyplot as plt
%matplotlib inline

In [284]:
df['weekday'] = df.datetime.apply(lambda x: x.weekday())
df['hour'] = df.datetime.apply(lambda x: x.hour)

In [157]:
for m in [5, 10, 30, 60, 120, 300]:
    df['mean_{}'.format(m)] = df.num_orders.rolling(m).mean()

In [158]:
df.dropna(inplace=True)

In [159]:
df.head()

,datetime,num_orders,mean_5,mean_10,mean_30,mean_60,mean_120,mean_300
299,2018-03-01 04:59:00,0,0.2,0.3,0.266667,0.716667,0.908333,1.296667
300,2018-03-01 05:00:00,1,0.4,0.4,0.300000,0.716667,0.916667,1.300000
301,2018-03-01 05:01:00,0,0.4,0.4,0.300000,0.700000,0.908333,1.300000
302,2018-03-01 05:02:00,0,0.4,0.4,0.300000,0.650000,0.900000,1.300000
303,2018-03-01 05:03:00,0,0.2,0.2,0.300000,0.600000,0.900000,1.300000

In [161]:
df.head()

,datetime,num_orders,mean_5,mean_10,mean_30,mean_60,mean_120,mean_300
299,2018-03-01 04:59:00,0,0.2,0.3,0.266667,0.716667,0.908333,1.296667
300,2018-03-01 05:00:00,1,0.4,0.4,0.300000,0.716667,0.916667,1.300000
301,2018-03-01 05:01:00,0,0.4,0.4,0.300000,0.700000,0.908333,1.300000
302,2018-03-01 05:02:00,0,0.4,0.4,0.300000,0.650000,0.900000,1.300000
303,2018-03-01 05:03:00,0,0.2,0.2,0.300000,0.600000,0.900000,1.300000

In [5]:
import datetime

In [6]:
data = pd.read_csv('data/train/set1.csv')
data.datetime = data.datetime.apply(
    lambda x: datetime.datetime.strptime(x, '%Y-%m-%d %H:%M:%S'))
data = data.sort_values('datetime')
data.head()

             datetime  num_orders
0 2018-03-01 00:00:00           0
1 2018-03-01 00:01:00           0
2 2018-03-01 00:02:00           0
3 2018-03-01 00:03:00           0
4 2018-03-01 00:04:00           1

In [7]:
target_positions = {
    'set1': [10, 30, 45, 60, 75],
    'set2': [5, 10, 15, 20, 25],
    'set3': [5, 7, 9, 11, 13]
}['set1']

In [8]:
HOUR_IN_MINUTES = 60
DAY_IN_MINUTES = 24 * HOUR_IN_MINUTES
WEEK_IN_MINUTES = 7 * DAY_IN_MINUTES

MAX_TIME = DAY_IN_MINUTES

In [9]:
samples = {
    'datetime': [],
    'history': []}

for position in target_positions:
    samples['target_{}'.format(position)] = []
    
num_orders = data.num_orders.values

In [10]:
# start after 2 weeks because of history
# finish earlier because of target calculation
for i in range(2 * WEEK_IN_MINUTES,
               len(num_orders) - 2 * DAY_IN_MINUTES):
    
    samples['datetime'].append(data.datetime[i])
    samples['history'].append(num_orders[i-2*WEEK_IN_MINUTES:i])
    
    # cumsum not for all array because of time economy
    cumsum_num_orders = num_orders[i+1:i+1+2*DAY_IN_MINUTES].cumsum()
    for position in target_positions:
        orders_by_positions = np.where(cumsum_num_orders >= position)[0]
        if len(orders_by_positions):
            time = orders_by_positions[0] + 1
        else:
            # if no orders in last days
            time = MAX_TIME
        samples['target_{}'.format(position)].append(time)

In [11]:
df = pd.DataFrame.from_dict(samples)
df.head(4)

,datetime,history,target_10,target_30,target_45,target_60,target_75
0,2018-03-15 00:00:00,"[0, 0, 0, 0, 1, 2, 0, 1, 1, 4, 0, 1, 1, 1, 1, ...",5,18,28,32,42
1,2018-03-15 00:01:00,"[0, 0, 0, 1, 2, 0, 1, 1, 4, 0, 1, 1, 1, 1, 3, ...",5,19,27,32,42
2,2018-03-15 00:02:00,"[0, 0, 1, 2, 0, 1, 1, 4, 0, 1, 1, 1, 1, 3, 2, ...",7,20,27,33,43
3,2018-03-15 00:03:00,"[0, 1, 2, 0, 1, 1, 4, 0, 1, 1, 1, 1, 3, 2, 3, ...",7,21,26,35,42

In [354]:
value_cols = []

for m in [5,10,20,30,60,90,120,150,180,240,300]:
# for m in [5,10,20,30,60]:
    col_name = 'mean_{}'.format(m)
    df[col_name] = df.history.apply(lambda x: x[-m:].mean())
    df[col_name+'-1'] = df.history.apply(lambda x: x[-2*m:-m].mean())
    df[col_name+'-2'] = df.history.apply(lambda x: x[-3*m:-2*m].mean())
    df[col_name+'diff1'] = df[col_name] - df[col_name+'-1']
    df[col_name+'diff2'] = df[col_name+'-1'] - df[col_name+'-2']
    
value_cols.extend([x for x in df.columns if 'mean_' in x or 'diff' in x])

In [355]:
for hour in range(24):
    df['hour_is_{}'.format(i)] = df.datetime.apply(lambda x: 1 if x.hour == i else 0)
value_cols.extend([x for x in df.columns if 'hour_is' in x])

In [356]:
df.head()

,datetime,history,target_10,target_30,target_45,target_60,target_75,mean_5,mean_5-1,mean_5-2,...,mean_240-1,mean_240-2,mean_240diff1,mean_240diff2,mean_300,mean_300-1,mean_300-2,mean_300diff1,mean_300diff2,hour_is_75
0,2018-03-15 00:00:00,"[0, 0, 0, 0, 1, 2, 0, 1, 1, 4, 0, 1, 1, 1, 1, ...",5,18,28,32,42,2.4,0.8,1.8,...,0.945833,0.962500,0.329167,-0.016667,1.173333,1.013333,0.906667,0.160000,0.106667,0
1,2018-03-15 00:01:00,"[0, 0, 0, 1, 2, 0, 1, 1, 4, 0, 1, 1, 1, 1, 3, ...",5,19,27,32,42,2.2,1.6,1.8,...,0.941667,0.966667,0.350000,-0.025000,1.186667,1.010000,0.910000,0.176667,0.100000,0
2,2018-03-15 00:02:00,"[0, 0, 1, 2, 0, 1, 1, 4, 0, 1, 1, 1, 1, 3, 2, ...",7,20,27,33,43,2.0,2.2,1.4,...,0.937500,0.970833,0.358333,-0.033333,1.193333,1.006667,0.906667,0.186667,0.100000,0
3,2018-03-15 00:03:00,"[0, 1, 2, 0, 1, 1, 4, 0, 1, 1, 1, 1, 3, 2, 3, ...",7,21,26,35,42,2.2,2.8,1.4,...,0.933333,0.975000,0.379167,-0.041667,1.203333,1.003333,0.910000,0.200000,0.093333,0
4,2018-03-15 00:04:00,"[1, 2, 0, 1, 1, 4, 0, 1, 1, 1, 1, 3, 2, 3, 1, ...",7,20,26,35,42,2.4,2.8,0.8,...,0.937500,0.979167,0.375000,-0.041667,1.203333,1.003333,0.913333,0.200000,0.090000,0

In [102]:
x_lstm = np.zeros((len(df), 120))

In [103]:
for i, row in enumerate(df.history.values):
    x_lstm[i,:] = row[-120:]

In [104]:
# mean([-30 : ]) /- mean([-60 : -30])

In [105]:
y = df.target_10.values
# x = df[value_cols].values

y = np.reshape(y, (len(y), 1))

In [106]:
# y = y / 100

In [122]:
import torch

device = torch.device('cuda' if torch.cuda.is_available() else 'cpu')
device = torch.device('cpu')
batch_size = 64

In [123]:
class Activate(torch.nn.Module):
    def forward(self, x):
        a = torch.exp(x[:, 0]).unsqueeze(1)
        b = torch.nn.functional.softplus(x[:, 1]).unsqueeze(1)
        
        res = torch.cat([a,b], dim=1)
        
        return res

In [137]:
# Here we define our model as a class
class LSTM(torch.nn.Module):

    def __init__(self, input_dim, hidden_dim, batch_size, output_dim=2, num_layers=2, device='cpu'):
        super(LSTM, self).__init__()
        self.device = device
        self.input_dim = input_dim
        self.hidden_dim = hidden_dim
        self.batch_size = batch_size
        self.num_layers = num_layers

        self.lstm = torch.nn.LSTM(self.input_dim, self.hidden_dim, self.num_layers, batch_first=True)

        self.linear = torch.nn.Linear(self.hidden_dim, output_dim)


    def forward(self, input):
        batch_size = input.shape[0]
        
        h0 = torch.zeros(self.num_layers, batch_size, self.hidden_dim).to(self.device)
        c0 = torch.zeros(self.num_layers, batch_size, self.hidden_dim).to(self.device)

        out = input.view(batch_size, -1, self.input_dim)
        out, _ = self.lstm(out, (h0, c0))  
        
        out = out[:, -1, :]
        
        out = self.linear(out)
        
        a = torch.exp(out[:, 0]).unsqueeze(1)
        b = torch.nn.functional.softplus(out[:, 1]).unsqueeze(1)
        
        out = torch.cat([a,b], dim=1)
        
        
#         lstm_out, self.hidden = self.lstm(input.view(batch_size, -1, 1))
#         y_pred = self.linear(lstm_out[-1].contiguous().view(batch_size, -1))
        return out

model = LSTM(1, 32, batch_size=batch_size, output_dim=2, num_layers=2, device=device).to(device)

In [138]:
# model = torch.nn.Sequential(
#     torch.nn.Linear(len(value_cols), 64),
#     torch.nn.ReLU(),
#     torch.nn.Linear(64,64),
#     torch.nn.ReLU(),
#     torch.nn.Linear(64, 2),
#     Activate()
# #     torch.nn.Relu()
# ).to(device)



optim = torch.optim.Adam(model.parameters(), lr=0.004)

In [139]:
from sklearn.preprocessing import StandardScaler
norm = StandardScaler()
# norm.fit(x)
# x = norm.transform(x)

# norm.fit(y)
# y = norm.transform(y)

In [140]:
x = x_lstm

In [141]:
from torch.utils.data import TensorDataset, DataLoader

x = torch.FloatTensor(x).to(device)
y = torch.FloatTensor(y).to(device)

dataset = TensorDataset(x, y)
dataloader = DataLoader(dataset, batch_size=batch_size, )


# my_dataset = utils.TensorDataset(x, y) # create your datset
# my_dataloader = utils.DataLoader(my_dataset, batch_size=batch_size)

In [142]:
def weibull_loss(y_true, ab):
    y_ = y_true[:, 0]
    
    a_ = ab[:, 0]
    b_ = ab[:, 1]
    
    haz0 = ((y_ + 1e-35) / a_).pow(b_)
    haz1 = ((y_ + 1) / a_).pow(b_)
    
    log_val = torch.log(torch.exp(haz1 - haz0) - 1.0)
#     log_val = torch.clamp(log_val, 1e-10, 1e10)
    
    return -1 * (log_val - haz1).mean()

In [143]:
def weibull_mean(a, b):
    # Continuous mean. Theoretically at most 1 step below discretized mean 
    # E[T ] <= E[Td] + 1 true for positive distributions. 
    from scipy.special import gamma
    return a*gamma(1.0+1.0/b)

In [144]:
def weibull_mode(a, b):
    # Continuous mode. 
    # TODO (mathematically) prove how close it is to discretized mode
    mode = a*np.power((b-1.0)/b,1.0/b)
    mode[b<=1.0]=0.0
    return mode

In [145]:
def sMAPE(y_true, y_predict, shift=0):
    return 2 * np.mean(
        np.abs(y_true - y_predict) /
        (np.abs(y_true) + np.abs(y_predict) + shift))

In [146]:
from tqdm import tqdm as tqdm

In [149]:
def train_epoch(model, optim, dataloader, device):
    loss_ar = []
    for data_x, data_y in dataloader:
        res = model(data_x)
        loss = weibull_loss(data_y, res)
        loss_ar.append(loss.item())

        optim.zero_grad()
        loss.backward()
#         torch.nn.utils.clip_grad_norm_(model.parameters(), 1)
        optim.step()
    return np.mean(loss_ar)

def test(model, dataloader, device):
    pred = []
    with torch.no_grad():
        for data, _ in dataloader:
            pred.extend(model(data).cpu().detach().numpy())
    
#     nums = [weibull_mean(x[0], x[1]) for x in pred]
    nums = weibull_mode(pred[:,0], pred[:,1])
    return sMAPE(y.squeeze(1).cpu().detach().numpy(), nums)

In [ ]:
for epoch in range(100):
#     loss = train_epoch(model, optim, dataloader, device)
    smape = test(model, dataloader, device)
    print(epoch, loss, smape)

In [376]:
pred = None
with torch.no_grad():
    pred = model(x).cpu().detach().numpy()

In [378]:
nums = [weibull_mean(x[0], x[1]) for x in pred]

In [379]:
nums[:10], y[:10]

([8.050626543655833,
  7.7008617161123505,
  7.6089758059659545,
  6.672095845386341,
  6.5842507629710445,
  6.566309337091586,
  7.297705630494468,
  7.7684387061981255,
  8.873279097635093,
  9.078957406321004],
 tensor([[5.],
         [5.],
         [7.],
         [7.],
         [7.],
         [7.],
         [7.],
         [6.],
         [6.],
         [5.]]))

In [487]:
pred = model(x).cpu().detach().numpy()

In [488]:
nums = weibull_mode(pred[:, 0], pred[:, 1])

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:4: RuntimeWarning: invalid value encountered in power
  after removing the cwd from sys.path.

In [491]:
nums.mean()

9.692931

In [490]:
 y.detach().numpy().mean()

11.6245165

In [489]:
nums[:10], y.detach().numpy()[:10]

(array([6.0077686, 5.7603803, 5.843462 , 5.393385 , 5.3903713, 5.3190107,
        5.6041636, 5.95658  , 6.55284  , 6.952653 ], dtype=float32),
 array([[5.],
        [5.],
        [7.],
        [7.],
        [7.],
        [7.],
        [7.],
        [6.],
        [6.],
        [5.]], dtype=float32))

In [383]:
y.squeeze(1).cpu().detach().numpy()

array([5., 5., 7., ..., 2., 1., 3.], dtype=float32)

In [385]:
sMAPE(y.squeeze(1).cpu().detach().numpy(), nums)

0.573123821491823

In [ ]:
class RNN(nn.Module):
    def __init__(self, input_size, hidden_size, num_layers, num_classes, batch_size=None, device='cpu', pv_num=None):
        super(RNN, self).__init__()
        self.hidden_size = hidden_size
        self.input_size = input_size
        self.num_layers = num_layers
        self.batch_size = batch_size
        self.lstm = nn.LSTM(input_size, hidden_size, num_layers, batch_first=True, bidirectional=True)
        self.fc1 = nn.Linear(hidden_size*2*sequence_length, 32)
        self.fc2 = nn.Linear(32, num_classes)

    def forward(self, x):
        batch_size = x.size(0)
        out = x.view(batch_size, 1, x.size(1), x.size(2))

        h0 = torch.zeros(2, batch_size, self.hidden_size)
        c0 = torch.zeros(2, batch_size, self.hidden_size)
        
        h0 = h0.to(device)
        c0 = c0.to(device)
        
        out = out.view(batch_size, -1, self.input_size)
        out, _ = self.lstm(out, (h0, c0))  

        out = out.contiguous().view(batch_size, -1)

        out = torch.relu(self.fc1(out))
        out = self.fc2(out)
        out = torch.relu(out)
        out = torch.softmax(out, 1)

        return out