In [1]:
import numpy as np
import pandas as pd
import sklearn
from tqdm import tqdm
import os

In [2]:
train_path = "./train.csv"
test_path = "./test.csv"

train_data = pd.read_csv(train_path)
test_data = pd.read_csv(test_path)

train_data.head(10)

,плохой_клиент,линии,возраст,поведение_30-59_дней,Debt_Ratio,доход,число_кредитов,поведение_90_дней,недвижимость,поведение_60-89_дней,семья
0,0,0.031258,57,0,0.397520,5000.0,15,0,2,0,0.0
1,0,0.052332,64,0,57.000000,NaN,2,0,0,0,NaN
2,0,1.051793,40,1,444.000000,NaN,2,1,0,0,0.0
3,0,0.981993,40,1,0.780109,6625.0,8,0,1,0,4.0
4,0,0.163684,67,0,0.317596,4574.0,5,0,2,0,0.0
5,0,0.000000,38,0,0.063432,6305.0,3,0,0,0,0.0
6,0,0.117730,61,0,0.280880,6500.0,9,0,1,0,0.0
7,0,0.397688,53,0,0.485943,8500.0,18,0,2,0,1.0
8,0,0.126352,41,0,0.100747,4416.0,5,0,0,0,1.0
9,0,0.155476,47,0,0.332778,2400.0,21,0,0,0,1.0

In [23]:
train_data.fillna(0.0, inplace=True)
test_data.fillna(0.0, inplace=True)

train_x = train_data.values[:,1:]
train_y = train_data.values[:,0]

test_x = test_data.values

In [29]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

clf = LogisticRegression(C=100)
clf.fit(train_x, train_y)

prediction = clf.predict(train_x)
accuracy_score(prediction, train_y)

0.9336266666666667